/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* UTILITIES */
/* Colors */
:root {
    --hero-bg: #B4D0E6;
    --footer-bg: #000000;
    --btn-blue-bg: #0061FE;
    --white-color: #fff;
}

/* Margins */
.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* Typography */
.text-small {
    font-size: 0.8rem;
}

.text-regular {
    font-size: 1rem;
}

.text-big {
    font-size: 1.5rem;
}

.title {
    font-size: 4rem;
    line-height: 1.2em;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* COMMON */
/* Layout */
.container-big {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;

    /* debug */
    min-height: 500px;
    border: 1px sold #000000;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    width: calc((100% - 40px) / 3);

    /* debug */
    background-color: #48adad;
    height: 400px;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: calc(40% - 10px);
}

.col-60 {
    width: calc(60% - 10px);
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;

    /* debug */
    background-color: #0000ff;
    height: 100px;
}

.col-footer {
    width: calc((100% - 80px) / 5);

    /* debug */
    background-color: #ce4257;
    height: 300px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: .4em .8em;
    cursor: pointer;
}

.btn-blue {
    background-color: var(--btn-blue-bg);
    color: var(--white-color);
} 

/* HEADER */
.header {
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--white-color);
    border-bottom: 1px solid #E7E7E9;
}

.logo {
    max-width: 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* MAIN */
/* Hero */
.hero-section {
    background-color: var(--hero-bg);
    padding-top: 130px;
}

.hero-section .col-30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero-section .title {
    padding-bottom: 40px;
}

.hero-section i {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

/* Content */
.plans-section {
    padding-top: 100px;
}

.plans-section .row {
   align-items: stretch;
   margin-top: 30px;
}

.wrap {
    flex-wrap: wrap;
}

.plans-section h2 {
    margin-bottom: 30px;
}

#rb1,
#rb2 {
    vertical-align: middle;
}

.plans-section label {
    padding-right: 30px;
}

/* FOOTER */
.footer {
    padding: 60px 0;
    background-color: var(--footer-bg);
}

