/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* UTILITIES */
:root {
    --hero-bg: #B4D0E6;
}

/* COMMON */
/* Layout */
.container-big {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

    /* debug */
    min-height: 500px;
    border: 1px sold #000000;
}

.container-small {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;

    /* debug */
    min-height: 500px;
    border: 1px sold #000000;
}


/* HEADER */
.header {
    padding: 10px;

    /* debug */
    background-color: #c71294;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {

    /* debug */
    background-color: #ffb6c1;
    min-height: 50px;
    width: 300px;
}

/* MAIN */
/* Hero */
.hero-section {
    background-color: var(--hero-bg);
    padding-top: 20px;

    /* debug */
    height: 400px;
}

.row {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    /* debug */
    border: 1px solid black;
    height: 380px;
}

.col-40 {
    width: calc(40% - 10px);

    /* debug */
    background-color: #ce88e7;
    height: 200px;
}

.col-60 {
    width: calc(60% - 10px);

     /* debug */
     background-color: #550d6f;
     height: 200px;
}