/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

/* UTILITIES */
/* Colors */
:root {
    --hero-bg: #B4D0E6;
    --footer-bg: #000000;
    --btn-blue-bg: #0061FE;
    --white-color: #fff;
    --lightgray-color: #E7E7E9;
    --darkgray-color: #a09fa2;
    --link-color: #0000EE;
}

/* Margins */
.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Padding */
.pv-5 {
    padding: 5px 0;
}

.pv-20 {
    padding: 20px 0;
}

.ph-20 {
    padding: 0 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-20 {
    padding: 20px 20px;
}

/* Display */
.block {
    display: block;
}

/* Typography */
.text-small {
    font-size: 0.7rem;
}

.text-regular {
    font-size: 1rem;
}

.text-big {
    font-size: 1.5rem;
}

.title {
    font-size: 4rem;
    line-height: 1.2em;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

/* COMMON */
/* Font */
body {
    font-family: "Open Sans", sans-serif;
}

.gray-text {
    color: var(--darkgray-color);
}

/* Layout */
.container-big {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    width: calc((100% - 40px) / 3);
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: calc(40% - 10px);
}

.col-60 {
    width: calc(60% - 10px);
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.col-footer {
    width: calc((100% - 80px) / 5);
}

/* Buttons */
.button {
    display: inline-block;
    padding: .4em 1em;
    cursor: pointer;
}

.btn-blue {
    background-color: var(--btn-blue-bg);
    color: var(--white-color);
} 

.btn-white {
    border: 1px solid #000000;
}



a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: var(--link-color);
    text-decoration: underline;
}

/* HEADER */
.header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--lightgray-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* MAIN */
/* Hero */
.hero-section {
    background-color: var(--hero-bg);
    padding-top: 130px;
    padding-bottom: 8px;
}

.hero-section .col-30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero-section .title {
    padding-bottom: 40px;
}

.hero-section i {
    padding-top: 20px;
    font-size: 2.5rem;
}

.hero-img {
    margin-bottom: -70px;
}

/* Content */
.plans-section {
    padding-top: 100px;
}

.plans-section .col .row {
   align-items: stretch;
   margin-top: 30px;
}

.plans-section .col {
    border: 1.5px solid var(--lightgray-color);
}

.card-large {
    border: 1.5px solid var(--lightgray-color);
}

.plans-section hr {
    border: .5px solid var(--lightgray-color);
}

.plans-section li {
    padding: 5px 0;
}

.plans-section i {
    padding-top: 3px;
}

.plans-section .button {
    width: 100%;
    text-align: center;
}

.hr-small {
    width: 25%;
    max-width: 100px;
}

.check {
    color: #1063FF;
}

.flex {
    display: flex;
    gap: 5px;
}

.wrap {
    flex-wrap: wrap;
}

.plans-section h2 {
    margin-bottom: 30px;
}

#rb1,
#rb2 {
    vertical-align: middle;
}

.plans-section label {
    padding-right: 30px;
}

/* Partners Section */
.partners-section,
.operation-section {
    margin-top: 100px;
}

/* Operations Section */
.operation-section .col-60 {
    padding-top: 80px;
    padding-bottom: 40px;
}

.operation-section .col-60 h2 {
    padding-bottom: 40px;
}

/* FOOTER */
.footer {
    padding: 60px 0;
    color: var(--white-color);
    background-color: var(--footer-bg);
}

.footer hr {
    border: 0.5px solid var(--white-color);
    width: 10%;
    margin-bottom: 20px;
}

.footer i {
    padding-right: 5px;
}

